#### pandas와 numpy 임포트

In [1]:
import pandas as pd
import numpy as np

#### 배열로 Series 데이터 생성하기

In [2]:
a = np.arange(5)
a

array([0, 1, 2, 3, 4])

In [3]:
s1 = pd.Series(a)
s1

0    0
1    1
2    2
3    3
4    4
dtype: int64

#### 리스트로 Series 데이터 생성

In [4]:
b = ['a','b','c','d','e']
s2 = pd.Series(b)
s2

0    a
1    b
2    c
3    d
4    e
dtype: object

In [5]:
s2 = pd.Series(a,b)   #인덱스를 명시하기
s2

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [6]:
c = [['a','b','c'],['d','e','f']]
s3 = pd.Series(c)
s3

0    [a, b, c]
1    [d, e, f]
dtype: object

#### 튜플로 Series 데이터 생성

In [7]:
tp1 = ('a','b','c','d','e')
s4 = pd.Series(tp1)
s4

0    a
1    b
2    c
3    d
4    e
dtype: object

In [8]:
tp2 = ('a','b','c','d','e')
s4 = pd.Series(tp2, b)
s4

a    a
b    b
c    c
d    d
e    e
dtype: object

#### 딕셔너리로 Series 데이터 생성

In [9]:
d1 = {'국어':100, '영어':95, '수학':90}
s5 = pd.Series(d1)
s5

국어    100
영어     95
수학     90
dtype: int64

In [10]:
d2 = {'국어':[100,90,95], '영어':[95,30,60], '수학':[50,60,90]}
s6 = pd.Series(d2)
s6

국어    [100, 90, 95]
영어     [95, 30, 60]
수학     [50, 60, 90]
dtype: object

##### Series 데이터 속성 과 인덱스활용

In [11]:
s5.index

Index(['국어', '영어', '수학'], dtype='object')

In [12]:
s5.values

array([100,  95,  90])

In [13]:
s5['국어']

100

In [14]:
s5['국어']=90

In [15]:
s5

국어    90
영어    95
수학    90
dtype: int64

#### 데이터 파일로 DataFrame 생성하기
- NBA 농구선수들의 게임 기록 데이터 200개 항목
 - Player : 선수이름
 - Pos : 포지션
 - 3P : 한 경기 평균 3점 슛 성공 횟수
 - 2P : 한 경기 평균 2점 슛 성공 횟수
 - TRB : 한 경이 리바운드 성공 횟수
 - AST : 한 경기 어시스트 성공 횟수
 - STL : 한 경기 스틸 성공 횟수
 - BLK : 한 경기 블로킹 성공 횟수

In [16]:
basket_ball= pd.read_csv('./basketball_stat.csv')
basket_ball

                     Player Pos   3P   2P  TRB  AST  STL  BLK
0              Alex Abrines  SG  1.3  0.5  1.5  0.6  0.5  0.2
1              Steven Adams   C  0.0  6.0  9.5  1.6  1.5  1.0
2               Bam Adebayo   C  0.0  3.4  7.3  2.2  0.9  0.8
3    DeVaughn Akoon-Purcell  SG  0.0  0.4  0.6  0.9  0.3  0.0
4         LaMarcus Aldridge   C  0.1  8.3  9.2  2.4  0.5  1.3
..                      ...  ..  ...  ...  ...  ...  ...  ...
195            Nik Stauskas  SG  1.0  1.0  1.9  1.2  0.3  0.1
196           D.J. Stephens  SG  0.0  1.0  0.0  0.0  1.0  0.0
197        Lance Stephenson  SG  1.1  1.6  3.2  2.1  0.6  0.1
198          Garrett Temple  SG  1.2  1.6  2.9  1.4  1.0  0.4
199           Jared Terrell  SG  0.3  0.6  0.4  0.9  0.2  0.1

[200 rows x 8 columns]

#### DataFrame 데이터 살펴보기
- head 함수, tail 함수 : 앞 또는 뒤에서 일부분 데이터 보기

In [17]:
basket_ball.head(3)

         Player Pos   3P   2P  TRB  AST  STL  BLK
0  Alex Abrines  SG  1.3  0.5  1.5  0.6  0.5  0.2
1  Steven Adams   C  0.0  6.0  9.5  1.6  1.5  1.0
2   Bam Adebayo   C  0.0  3.4  7.3  2.2  0.9  0.8

In [18]:
basket_ball.tail(3)

               Player Pos   3P   2P  TRB  AST  STL  BLK
197  Lance Stephenson  SG  1.1  1.6  3.2  2.1  0.6  0.1
198    Garrett Temple  SG  1.2  1.6  2.9  1.4  1.0  0.4
199     Jared Terrell  SG  0.3  0.6  0.4  0.9  0.2  0.1

#### DataFrame 데이터 파악하기
- shape 속성 (row, column)
- index 속성 : 각 아이템의 식별값
- columns 속성 : 각각 데이터의 특성
- describe 함수 : 숫자형 데이터의 통계치 계산
- info 함수 : 데이터 타입, 각 아이템의 개수 등을 출력

In [19]:
basket_ball.shape

(200, 8)

In [20]:
basket_ball.index

RangeIndex(start=0, stop=200, step=1)

In [21]:
basket_ball.columns

Index(['Player', 'Pos', '3P', '2P', 'TRB', 'AST', 'STL', 'BLK'], dtype='object')

In [22]:
basket_ball.describe()

              3P          2P         TRB         AST         STL         BLK
count  200.00000  200.000000  200.000000  200.000000  200.000000  200.000000
mean     0.82650    2.445000    3.866500    1.649500    0.592000    0.454000
std      0.84321    1.885591    2.853901    1.342988    0.383892    0.491316
min      0.00000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.00000    1.100000    1.900000    0.875000    0.300000    0.100000
50%      0.65000    1.900000    3.200000    1.200000    0.500000    0.300000
75%      1.32500    3.225000    5.000000    2.100000    0.800000    0.600000
max      4.00000    8.600000   15.600000    7.700000    1.800000    2.400000

In [23]:
basket_ball.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  200 non-null    object
 1   Pos     200 non-null    object
 2   3P      200 non-null    float64
 3   2P      200 non-null    float64
 4   TRB     200 non-null    float64
 5   AST     200 non-null    float64
 6   STL     200 non-null    float64
 7   BLK     200 non-null    float64
dtypes: float64(6), object(2)
memory usage: 12.6+ KB

#### 원하는 컬럼 선택하기

In [24]:
basket_ball.head()

                   Player Pos   3P   2P  TRB  AST  STL  BLK
0            Alex Abrines  SG  1.3  0.5  1.5  0.6  0.5  0.2
1            Steven Adams   C  0.0  6.0  9.5  1.6  1.5  1.0
2             Bam Adebayo   C  0.0  3.4  7.3  2.2  0.9  0.8
3  DeVaughn Akoon-Purcell  SG  0.0  0.4  0.6  0.9  0.3  0.0
4       LaMarcus Aldridge   C  0.1  8.3  9.2  2.4  0.5  1.3

In [25]:
basket_ball['3P']

0      1.3
1      0.0
2      0.0
3      0.0
4      0.1
      ...
195    1.0
196    0.0
197    1.1
198    1.2
199    0.3
Name: 3P, Length: 200, dtype: float64

In [26]:
basket_ball[['3P']]     #[]안에 컬럼이름을 리스트 형식으로 써줌

      3P
0    1.3
1    0.0
2    0.0
3    0.0
4    0.1
..   ...
195  1.0
196  0.0
197  1.1
198  1.2
199  0.3

[200 rows x 1 columns]

In [27]:
basket_ball[['Player','AST','BLK']]

                     Player  AST  BLK
0              Alex Abrines  0.6  0.2
1              Steven Adams  1.6  1.0
2               Bam Adebayo  2.2  0.8
3    DeVaughn Akoon-Purcell  0.9  0.0
4         LaMarcus Aldridge  2.4  1.3
..                      ...  ...  ...
195            Nik Stauskas  1.2  0.1
196           D.J. Stephens  0.0  0.0
197        Lance Stephenson  2.1  0.1
198          Garrett Temple  1.4  0.4
199           Jared Terrell  0.9  0.1

[200 rows x 3 columns]

#### 조건을 주어 원하는 컬럼 선택하기
- & : and 둘 다 만족
- | : or 둘 중 하나만 만족해도 됨

In [28]:
basket_ball[basket_ball['3P'] > 0.5]

               Player Pos   3P   2P  TRB  AST  STL  BLK
0        Alex Abrines  SG  1.3  0.5  1.5  0.6  0.5  0.2
6       Grayson Allen  SG  0.8  0.9  0.6  0.7  0.2  0.2
8        Kadeem Allen  SG  0.9  2.5  2.7  4.0  0.8  0.2
11       Dwayne Bacon  SG  0.9  2.0  2.1  1.1  0.3  0.1
14        Will Barton  SG  1.6  2.7  4.6  2.9  0.4  0.5
..                ...  ..  ...  ...  ...  ...  ...  ...
193        J.R. Smith  SG  1.1  1.4  1.6  1.9  1.0  0.3
194      Zhaire Smith  SG  1.0  1.3  2.2  1.7  0.3  0.3
195      Nik Stauskas  SG  1.0  1.0  1.9  1.2  0.3  0.1
197  Lance Stephenson  SG  1.1  1.6  3.2  2.1  0.6  0.1
198    Garrett Temple  SG  1.2  1.6  2.9  1.4  1.0  0.4

[104 rows x 8 columns]

In [29]:
basket_ball[(basket_ball['3P'] > 0.5) & (basket_ball['2P'] > 2.0)]

                       Player Pos   3P   2P   TRB  AST  STL  BLK
8                Kadeem Allen  SG  0.9  2.5   2.7  4.0  0.8  0.2
14                Will Barton  SG  1.6  2.7   4.6  2.9  0.4  0.5
16              Kent Bazemore  SG  1.4  2.7   3.9  2.3  1.3  0.6
17               Bradley Beal  SG  2.5  6.8   5.0  5.5  1.5  0.7
18              Malik Beasley  SG  2.0  2.3   2.5  1.2  0.7  0.1
21            DeAndre' Bembry  SG  0.6  2.7   4.4  2.5  1.3  0.5
25           Antonio Blakeney  SG  0.6  2.3   1.9  0.7  0.2  0.2
26          Bogdan Bogdanovi?  SG  1.9  3.2   3.5  3.8  1.0  0.2
28               Devin Booker  SG  2.1  7.0   4.1  6.8  0.9  0.2
29              Avery Bradley  SG  1.4  2.6   2.8  2.4  0.7  0.3
32            Malcolm Brogdon  SG  1.6  4.3   4.5  3.2  0.7  0.2
35               Jaylen Brown  SG  1.3  3.7   4.2  1.4  0.9  0.4
41   Kentavious Caldwell-Pope  SG  1.8  2.1   2.9  1.3  0.9  0.2
47            Jordan Clarkson  SG  1.8  4.8   3.3  2.4  0.7  0.2
50           DeMarcus Cousins   C  0.9  5.1   8.2  3.6  1.3  1.5
55              Anthony Davis   C  0.9  8.6  12.0  3.9  1.6  2.4
59             Dewayne Dedmon   C  1.3  2.8   7.5  1.4  1.1  1.1
65                Luka Don?i?  SG  2.3  4.7   7.8  6.0  1.1  0.3
67             Damyean Dotson  SG  1.7  2.2   3.6  1.8  0.8  0.1
71                Joel Embiid   C  1.2  7.8  13.6  3.7  0.7  1.9
73               Tyreke Evans  SG  1.1  2.6   2.9  2.4  0.8  0.3
78                Bryn Forbes  SG  2.1  2.3   2.9  2.1  0.5  0.0
79              Evan Fournier  SG  1.9  3.9   3.2  3.6  0.9  0.1
86                 Marc Gasol   C  1.3  3.7   7.9  4.4  1.1  1.1
89                Eric Gordon  SG  3.2  2.5   2.2  1.9  0.6  0.4
96               Tim Hardaway  SG  2.5  3.5   3.4  2.4  0.8  0.1
98                Gary Harris  SG  1.4  3.3   2.8  2.2  1.0  0.3
99                 Joe Harris  SG  2.4  2.5   3.8  2.4  0.5  0.2
104               Buddy Hield  SG  3.4  4.2   5.0  2.5  0.7  0.4
106              Jrue Holiday  SG  1.8  6.4   5.0  7.7  1.6  0.8
109               Rodney Hood  SG  1.2  2.9   2.2  1.8  0.8  0.2
110                Al Horford   C  1.1  4.6   6.7  4.2  0.9  1.3
115               Serge Ibaka   C  0.7  5.6   8.1  1.3  0.4  1.4
117              Josh Jackson  SG  0.9  3.5   4.4  2.3  0.9  0.7
120              Nikola Joki?   C  1.0  6.7  10.8  7.3  1.4  0.7
128               Jeremy Lamb  SG  1.5  4.0   5.5  2.2  1.1  0.4
129               Zach LaVine  SG  1.9  6.5   4.7  4.5  1.0  0.4
132                  Alex Len   C  1.0  3.2   5.5  1.1  0.4  0.9
136               Brook Lopez   C  2.3  2.1   4.9  1.2  0.6  2.2
144               CJ McCollum  SG  2.4  5.8   4.0  3.0  0.8  0.4
152          Donovan Mitchell  SG  2.4  6.1   4.1  4.2  1.4  0.4
156             E'Twaun Moore  SG  1.4  3.4   2.4  1.9  0.8  0.2
167            Victor Oladipo  SG  2.1  4.9   5.6  5.2  1.7  0.3
175             Norman Powell  SG  1.1  2.1   2.3  1.5  0.7  0.2
176               J.J. Redick  SG  3.2  2.8   2.4  2.7  0.4  0.2
179           Josh Richardson  SG  2.2  3.5   3.6  4.1  1.1  0.5
184             Terrence Ross  SG  2.7  2.8   3.5  1.7  0.9  0.4

#### 원하는 행 선택하기

- .loc, .iloc로 row 선택 가능
- loc - 인덱스 자체를 사용
- iloc - 0 based index로 사용

In [30]:
basket_ball.head()

                   Player Pos   3P   2P  TRB  AST  STL  BLK
0            Alex Abrines  SG  1.3  0.5  1.5  0.6  0.5  0.2
1            Steven Adams   C  0.0  6.0  9.5  1.6  1.5  1.0
2             Bam Adebayo   C  0.0  3.4  7.3  2.2  0.9  0.8
3  DeVaughn Akoon-Purcell  SG  0.0  0.4  0.6  0.9  0.3  0.0
4       LaMarcus Aldridge   C  0.1  8.3  9.2  2.4  0.5  1.3

In [31]:
basket_ball.loc[0]

Player    Alex Abrines
Pos                 SG
3P                 1.3
2P                 0.5
TRB                1.5
AST                0.6
STL                0.5
BLK                0.2
Name: 0, dtype: object

In [32]:
basket_ball.loc[[0]]

         Player Pos   3P   2P  TRB  AST  STL  BLK
0  Alex Abrines  SG  1.3  0.5  1.5  0.6  0.5  0.2

In [33]:
basket_ball.iloc[0]

Player    Alex Abrines
Pos                 SG
3P                 1.3
2P                 0.5
TRB                1.5
AST                0.6
STL                0.5
BLK                0.2
Name: 0, dtype: object

In [34]:
basket_ball.iloc[[0]]

         Player Pos   3P   2P  TRB  AST  STL  BLK
0  Alex Abrines  SG  1.3  0.5  1.5  0.6  0.5  0.2

In [35]:
basket_ball.iloc[[0, 3, 6]]

                   Player Pos   3P   2P  TRB  AST  STL  BLK
0            Alex Abrines  SG  1.3  0.5  1.5  0.6  0.5  0.2
3  DeVaughn Akoon-Purcell  SG  0.0  0.4  0.6  0.9  0.3  0.0
6           Grayson Allen  SG  0.8  0.9  0.6  0.7  0.2  0.2

In [36]:
basket_ball.loc[[0, 3, 6]]

                   Player Pos   3P   2P  TRB  AST  STL  BLK
0            Alex Abrines  SG  1.3  0.5  1.5  0.6  0.5  0.2
3  DeVaughn Akoon-Purcell  SG  0.0  0.4  0.6  0.9  0.3  0.0
6           Grayson Allen  SG  0.8  0.9  0.6  0.7  0.2  0.2

#### 행과 열 동시 선택하기

In [37]:
basket_ball.loc[[0,3,6],['Player', 'TRB', 'BLK']]

                   Player  TRB  BLK
0            Alex Abrines  1.5  0.2
3  DeVaughn Akoon-Purcell  0.6  0.0
6           Grayson Allen  0.6  0.2

In [38]:
basket_ball.iloc[[0,3,6],[0,4,7]]

                   Player  TRB  BLK
0            Alex Abrines  1.5  0.2
3  DeVaughn Akoon-Purcell  0.6  0.0
6           Grayson Allen  0.6  0.2